/public/storage
Homestead.yaml
Homestead.json
/vendor
/node_modules
/public/assets
/public/css
/public/images
/public/js
/public/fonts
/public/build
.env
*.swp
.DS_Store
.idea/
bootstrap/cache
storage
composer.lock
