/public/storage
Homestead.yaml
Homestead.json
/vendor
/node_modules
/public/assets
/public/css
/public/images
/public/js
/public/fonts
/public/uploads
.env
*.swp
*.swo
.DS_Store
.idea/
storage/*
composer.lock
/bootstrap/cache
