/public/storage
Homestead.yaml
Homestead.json
/vendor
/node_modules
/public/uploads
/public/build
/public/css
/public/js
/public/build
.env
*.swp
.DS_Store
.idea/
storage/*
composer.lock
/bootstrap/cache
